*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    margin: 80px;
}

div.teste{
    background-color: rgb(90, 85, 77);
    width: 350px;
    height: 350px;
    border-bottom-left-radius: 50%;
    border-top-right-radius: 50%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

div.teste button{
    height: 40px;
    width:200px;
    border-radius: 10px;
    border: none;
    font-size: large;
}

div.teste input {
    height: 40px;
    width: 200px;
    padding: 20px;
    border-radius: 10px;
    border:none;
    font-size: 20px;
}

div.teste div.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2{
    padding: 20px;
    color: #fff;
}